body, html{
  height:100%;
}
body{
  margin: 0px;
  background:url('https://cdn.shutterstock.com/shutterstock/videos/884632/thumb/1.jpg') no-repeat;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position: absolute;
}
.beyonce{
  position: relative; 
}
.minion{
  position: relative;
  animation-name: minion;
  animation-duration: 4s;
}

@keyframes minion {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/*dance http://www.animatedimages.org/data/media/107/animated-dancing-image-0243.gif*/
 /*beyonce https://31.media.tumblr.com/ce27425fa583c8f73d98ca9dc56716d6/tumblr_inline_n4i9fiD9LB1rr8huq.gif*/